layout: post 
slug: "photos" 
title: "记录" 
noDate: "true" 
---
<style>
  #photo-box .photo-href {
    font-size: 16px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 8px;
    width: calc(30% - 4px);
    margin-right: 8px;
  }

  @media screen and (min-width: 50em) {
    #photo-box .photo-href {
      width: calc(30% - 6px);
    }
  }
  #photo-box a:hover img {
    transform: scale(1.15);
  }

  #photo-box figure {
    margin: 0;
  }
  #photo-box img {
    border: none;
    max-width: 100%;
    height: auto;
    display: block;
    background: #ccc;
    transition: transform .2s ease-in-out;
  }

  #photo-box .p .photo-href {
    display: inline;
    font-size: 13px;
    margin: 0;
  }

  #photo-box .p {
    text-align: center;
    font-size: 13px;
    padding-top: 100px;
  }
  #photo-box .pager{
    text-align: right;
  }
</style>
<strong>点击查看原图,因为文件都比较大,请谨慎浏览,耐心等待</strong>
<hr>
<div id="photo-box">
  <p v-if="!loaded">正在加载...<br/>如果长时间无法观看,可能被你的广告拦截给阻止了</p>
  <span  v-if="loaded" v-for="(photo,index) in photos" :key="index">
    <h2 v-if="!photos[index - 1] || photos[index - 1].date !== photo.date" v-html="photo.date"></h2>
    <video preload="meta" v-if="photo.type=='video'" width="35%" controls :src="qnvroot+photo.url"></video> 
    <a v-else href="javascript:;" class="photo-href">
      <img :src="qnroot+photo.url+'-sm'" :alt="photo.title+' '+photo.date+' @'+photo.location" :data-target="qnroot+photo.url+'-p'">
    </a>
  </span>
  <p class="pager"><span v-html="'当前第'+page+'页,共'+pageMax+'页'"></span>&nbsp;&nbsp;<button @click="prev" v-if="page!==1">上一页</button>&nbsp;&nbsp;&nbsp;&nbsp;<button v-if="page!==pageMax" @click="next">下一页</button></p>
</div>
<script src="https://cdn.staticfile.org/vue/2.2.6/vue.min.js"></script>
<script src="./photo.js"></script>