---
layout: page 
slug: "digest" 
title: "书摘" 
noDate: true 
---
<style>
    #box h3 {
        margin: 0;
    }
    .digest-time {
        font-size: 10px;
    }
</style>
<script src="https://cdn.staticfile.org/vue/2.2.6/vue.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<p>书摘已经放在<a href="https://github.com/StoneRen/digest/blob/master/kindle.txt">github</a>上,因为都是看书时做的标注,肯定有很多错误.如果你是<strong>热心肠</strong>,可以在<a href="https://github.com/StoneRen/digest/blob/master/kindle.txt">github</a>提交修改.</p>
<!--
  不能使用 传统的那个字符 来读取 vue的变量
  因为和ejs语法冲突了
-->
<div id="box">
    <p>
        <button @click="random()" v-html="'点击看随机书摘('+count+'条)'"></button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button @click="gotoUrl()" v-html="'查看全部书摘('+oData.length+'条)'">全部书摘</button>
    </p>
    <div v-if="show">
        <div v-for="(item,index) in dData">
            <h3 v-html="item.title"></h3>
            <span class="digest-time" v-html="item.date"></span>
            <p v-html="item.content"></p>
        </div>
        <p>
                <button @click="random()" v-html="'点击看随机书摘('+count+'条)'"></button> &nbsp;&nbsp;&nbsp;&nbsp;
                <button onclick="location.href='/digest/kindle.txt'" v-html="'查看全部书摘('+oData.length+'条)'">全部书摘</button>
            </p>
    </div>
</div>

<script src="./digest.js"></script>